<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <p>©2015 ThreeFunkyMonkeys.<br>All rights reserved.</p>
    </div>
    <div class='large-3 medium-3 columns'>
    </div>
    <div class='large-3 medium-3 columns'>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
