<div class='contain-to-grid shadowless sticky'>
  <nav class='top-bar' data-options='sticky_on: large' data-topbar=''>
    <ul class='title-area'>
      <li class='name'>
        <h1>
          <a href='/'>
            <img id="logo-img" alt="ThreeFunkyMonkeys" src="/img/logo.png" />
          </a>
        </h1>
      </li>
      <li class='toggle-topbar menu-icon'>
        <a href='#'>Menu</a>
      </li>
    </ul>
    <section class='top-bar-section'>
      <ul class='right mod modScrollTo'>
        <li class='<%= active_menu("/") %>'>
          <a href='/'>Home</a>
        </li>
        <%#<li class=''>%>
          <%#<a href='about.html'>About</a>%>
        <%#</li>%>
        <li class='<%= active_menu("/services") %>'>
          <% if home_page? %>
            <a href='#services' class="scrollto" data-target="#services" data-parent="section">Services</a>
          <% else %>
            <a href="/#services" data-parent="section">Services</a>
          <% end %>
        </li>
        <li class='<%= active_menu("/projects") %>'>
          <% if home_page? %>
            <a href='/projects' class="scrollto" data-target="#services" data-parent="section">Projects</a>
          <% else %>
            <a href="/projects" data-parent="section">Projects</a>
          <% end %>
        </li>
        <%#<li class='has-dropdown'>%>
          <%#<a href='portfolio.html'>Portfolio</a>%>
          <%#<ul class='dropdown'>%>
            <%#<li>%>
              <%#<a href='portfolio.html'>Portfolio</a>%>
            <%#</li>%>
            <%#<li>%>
              <%#<a href='portfolio-item.html'>Portfolio item</a>%>
            <%#</li>%>
          <%#</ul>%>
        <%#</li>%>
        <li class='<%= active_menu("/contact") %>'>
          <a href='/contact'>Contact</a>
        </li>
        <%#<li class='has-dropdown'>%>
          <%#<a href='blog.html'>Blog</a>%>
          <%#<ul class='dropdown'>%>
            <%#<li>%>
              <%#<a href='blog.html'>Blog</a>%>
            <%#</li>%>
            <%#<li>%>
              <%#<a href='single.html'>Blog Single</a>%>
            <%#</li>%>
          <%#</ul>%>
        <%#</li>%>
      </ul>
    </section>
  </nav>
</div>
