/*font-family: 'Roboto Condensed', sans-serif;*/

.home-title {
  display: inline-block;
}

body {
  background-color: #8B897E;
}

#background {
  background-image: url('/img/monkey.jpg');
  width: 100%;
  position: relative;
  left: 0px;
  top: -1px;
  height: 540px;
}

#nav-bg, header#header {
  background-color: white;
  height: 78px;
  width: 100%;
  border-bottom: solid 1px #BF0411;
}

#nav-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

header#header {
  position: relative;
  z-index: 2000;
  margin-bottom: 0px;
  border-radius: 0px;
}

header h1#title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 27px;
  color: #BF0411;
  display: inline-block;
  position: relative;
  left: 125px;
}

header img#logo {
  display: inline-block;
  position: absolute;
  left: -10px;
  width: 131px;
  height: 122px;
  margin-top: -20px;
  z-index: 1000;
}

header ul#navbar {
  position: relative;
  left: -20px;
  top: 20px;
}

header ul#navbar li.icon {
  margin-left: -23px;
}

header ul.nav li.icon img {
  width: 32px;
  height: 32px;
}

#blog-link {
  position: relative;
  margin-top: 20px;
  float: right;
}

#blog-link #blog-link-text {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #FFF;
  margin-left: 16px;
  margin-top: 18px;
}

#adorable {
  margin-top: 150px;
}
