/*font-family: 'Roboto Condensed', sans-serif;*/

.home-title {
  display: inline-block;
  position: relative;
}

body {
  background-color: #8B897E;
  height: 100%;
}

.nav li a:hover, .nav li a:focus {
  background: none;
}

#background {
  background-image: url('/img/monkey.jpg');
  width: 100%;
  position: relative;
  left: 0px;
  top: -1px;
  height: 540px;
}

#nav-bg, header#header {
  background-color: white;
  height: 78px;
  width: 100%;
  border-bottom: solid 1px #BF0411;
}

#nav-bg {
  position: absolute;
  left: 0px;
  top: 0px;
}

#mid-separator-bg {
  position: absolute;
  border-top: solid 1px #BF0411;
  width: 100%;
  height: 144px;
  background-color: #D6D1BB;
  top: 616px;
  z-index: 1;
}

#sections-bg {
  position: absolute;
  width: 100%;
  min-height: 1163px;
  height: 1163px;
  background-color: #ABA896;
  top: 760px;
  z-index: 1;
}

header#header {
  position: relative;
  z-index: 2000;
  margin-bottom: 0px;
  border-radius: 0px;
}

header h1#title {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 27px;
  color: #BF0411;
  display: inline-block;
  position: relative;
  left: 125px;
}

header img#logo {
  display: inline-block;
  position: absolute;
  left: -10px;
  width: 131px;
  height: 122px;
  margin-top: -20px;
  z-index: 1000;
}

footer {
  position: relative;
  z-index: 2000;
  border-top: solid 1px #FFF;
  height: 112px;
  background-color: #8B897E;
  margin-top: 1304px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFF;
  padding-top: 13px;
  text-align: center;
}

#footer-bg {
  position: relative;
  width: 100%;
  height: 112px;
  background-color: #8B897E;
  border-top: solid 1px #FFF;
  top: -112px;
  z-index: 1;
}

header ul#navbar {
  position: relative;
  left: -20px;
  top: 20px;
}

header ul#navbar li.icon {
  margin-left: -23px;
}

header ul.nav li.icon img {
  width: 32px;
  height: 32px;
}

#blog-link {
  position: relative;
  margin-top: 20px;
  float: right;
}

#blog-link #blog-link-text {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  color: #FFF;
  margin-left: 16px;
  margin-top: 18px;
}

#adorable {
  margin-top: 150px;
}

#monkeys {
  margin-top: -5px;
}

#monkeys span {
  color: #B20053;
}

#buttons {
  z-index: 2000;
  position: absolute;
  text-align: center;
  margin-top: -31px;
}

.home-button {
  width: 357px;
  height: 110px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 31px;
  padding: 31px 0px;
  color: #FFF;
  display: inline-block;
}

.home-button:hover, .home-button:visited {
  text-decoration: none;
  color: #FFF;
  box-shadow: 2px 2px 5px 0px #37393A;
}

#buttons > #what-we-do {
  background-color: #B14F4A;
  margin-right: 31px;
}

#buttons > #who-we-are {
  background-color: #503A55;
  margin-right: 31px;
}

#buttons > #contact-us {
  background-color: #7BB0A2;
}

#sections {
  z-index: 2000;
  position: relative;
  top: 142px;
  padding: 0px;
}

#sections h4 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 31px;
  color: white;
  text-align: center;
  padding: 8px 0px;
  margin: 0px;
}

#sections > #we-do {
  background-color: #B14F4A;
  margin-top: -17px;
}

#sections > #we-are {
  background-color: #503A55;
  margin-top: 275px;
}

#sections > #contact {
  background-color: #7BB0A2;
  margin-top: 608px;
}

.section-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  color: #FFF;
  margin-top: 45px;
  margin-bottom: 60px;
}

.monkey {
  text-align: center;
  left: -3.67%;
}

.monkey > img.thumb {
  border-radius: 100;
  width: 180px;
  height: 180px;
}

.monkey > div.name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  color: #594E41;
}

#bios {
  padding-top: 50px;
}

#bios .monkey-bio {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #FFF;
  margin-bottom: 65px;
}

#bios #kandalf, #bios #taro {
}

#social-icons {
  text-align: center;
  margin: 30px 0 80px 0;
}

#social-icons .icon-bg {
  background-color: white;
  width: 62px;
  height: 62px;
  border-radius: 100;
  display: inline-block;
  margin-right: 30px;
}

#social-icons .icon-bg a {
  margin-left: -2px;
}

#social-icons .icon-bg a img {
  margin-top: -2px;
}
