@import "partials/base"

.brand
  text-transform: uppercase
  font-weight: bold
  .funky
    color: #fd0300
    margin: 0 1px

body
  margin: 0
  font:
    family: Tahoma, Verdana, Arial, sans-serif

h1
  margin: 0
  padding: 0
  text-align: center

  img
    width: 200px

p, .p
  padding: 1em 0.5em
  letter-spacing: 0.05em
  text-align: center
  font-size: 0.8em
  z-index: 1

#footer
  text-align: center
  font-size: 0.8em

.cleanLinks
  a, a:visited
    color: #000
    text-decoration: none
  a:hover
    color: #fd0300

.spaced
  padding: 1em 0.55em

.half
  width: 50%
  left: 25%
  position: relative

#homeContainer
  width: 80%
  text-align: center
  left: 10%
  position: relative

input[type='text'], input[type='email'], input[type='password'], textarea
  border: solid 1px $text_input_border_color
  +gradient-bg($text_input_bg_gradient_from, $text_input_bg_gradient_to)
  +border-radius(5px)
  padding: 2px

input[type='button'], input[type='submit'], button
  border: solid 1px $button_border_color
  color: $button_color
  font-weight: bold
  padding: 4px 15px
  letter-spacing: 0.2em
  +border-radius(5px)
  +gradient_bg($button_bg_gradient_from, $button_bg_gradient_to)

#flashNotice, #flashWarning, #flashError
  border: solid 1px
  font-size: 0.7em
  font-weight: bold
  padding: 0.5em

#flashNotice
  border-color: $flash_notice_color
  background-color: $flash_notice_bg_color
  color: $flash_notice_color

#flashWarning
  border-color: $flash_warning_color
  background-color: $flash_warning_bg_color
  color: $flash_warning_color

#flashError
  border-color: $flash_error_color
  background-color: $flash_error_bg_color
  color: $flash_error_color

.topBar
  background-color: $top_bar_bg_color
  border-bottom: solid 2px $top_bar_border_color
  height: 15px
  width: 100%
  position: absolute
  left: 0px
  
#contact_bg
  width: 100%


header
  position: relative
  top: 20px

@media screen and (max-width: 200px)
  body
    padding: 0 0.25em

  h1
    img
      width: 100%


@media screen and (min-width: 480px)
  body
    padding: 0 0.5em

  h1
    img
      width: 240px

  #contact_bg
    width: 100%

@media screen and (min-width: 640px)
  body
    padding: 0 1em
    max-width: 800px
    font-size: 1.2em

  h1
    img
      width: 320px

  
  input[type='text'], input[type='email'], input[type='password'], textarea
    font-size: 0.9em
    line-height: 0.9em

  #footer
    font-weight: bold
    

@media screen and (min-width: 800px)
  body
    max-width: 1200px
    font-size: 1.4em

  h1
    img
      width: 416px

@media screen and (min-width: 1200px)
  body
    max-width: 1400px
    font-size: 1.6em
    margin: 0 auto
