<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='medium-6 columns'>
    <h3>Our skills</h3>
    <div class='spacing'></div>
    <div class='mod modBarGraph'>
      <ul class='bars'>
        <li>
          <h4 style=''>
            Web Design
            <strong>84%</strong>
          </h4>
          <p class='highlighted' data-percent='84'></p>
        </li>
        <li>
          <h4 style=''>
            Web Development
            <strong>95%</strong>
          </h4>
          <p class='highlighted' data-percent='95'></p>
        </li>
        <li>
          <h4 style=''>
            Site Management
            <strong>70%</strong>
          </h4>
          <p class='highlighted' data-percent='70'></p>
        </li>
        <li>
          <h4 style=''>
            Branding
            <strong>61%</strong>
          </h4>
          <p class='highlighted' data-percent='61'></p>
        </li>
      </ul>
    </div>
    <div class='two spacing'></div>
  </div>
  <div class='medium-6 columns'>
    <h3>What our clients say</h3>
    <div class='spacing'></div>
    <div class='mod modTestimonials simple'>
      <div class='row'>
        <div class='small-12 columns'>
          <div class='items'>
            <div class='item'>
              <p class='quote'>"Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."</p>
              <div class='author'>
                <p class='author-avatar'>
                <img width="80" height="80" alt="" src="/img/@stock/author-avatar-1.png" />
                </p>
                <p class='author-name'>
                -
                <strong>
                  David White
                </strong>
                , Designer at Huglab
                </p>
              </div>
            </div>
            <div class='item'>
              <p class='quote'>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing."</p>
              <div class='author'>
                <p class='author-avatar'>
                <img width="80" height="80" alt="" src="/img/@stock/author-avatar-2.png" />
                </p>
                <p class='author-name'>
                -
                <strong>
                  David White
                </strong>
                , Designer at Huglab
                </p>
              </div>
            </div>
            <div class='item'>
              <p class='quote'>"Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est."</p>
              <div class='author'>
                <p class='author-avatar'>
                <img width="80" height="80" alt="" src="/img/@stock/author-avatar-3.png" />
                </p>
                <p class='author-name'>
                -
                <strong>
                  David White
                </strong>
                , Designer at Huglab
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>Our clients</h3>
    <div class='spacing'></div>
    <div class='mod modClients' data-slides_to_show='5'>
      <div class='clients'>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-1.png" /></div>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-2.png" /></div>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-3.png" /></div>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-4.png" /></div>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-5.png" /></div>
        <div><img width="272" height="180" alt="" src="/img/@stock/client-grey-6.png" /></div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class='two spacing'></div>
<div class='row'>
  <div class='large-12 columns'>
    <h3>
      Our recent posts
      /
      <a href='#'>View more posts</a>
    </h3>
    <div class='spacing'></div>
  </div>
</div>
<div class='row'>
  <div class='large-4 medium-4 columns'>
    <div class='mod modBlogPost no_bg simple'>
      <a href="single.html"><img width="800" height="533" alt="" src="/img/@stock/blog-1.jpg" /></a>
      <div class='content'>
        <p class='date'>December 15, 2014</p>
        <h4><a href="#">A cup of coffee for you</a></h4>
        <p>
        Iste neque doloribus dolor quis ad sit dolores dolor sit perferendis. nemo in rerum ducimus possimus aspernatur quas est. dolorem eaque vel id quasi voluptatem eligendi rerum et quo ut. fuga qui ea voluptates sunt
        </p>
      </div>
    </div>
  </div>
  <div class='large-4 medium-4 columns'>
    <div class='mod modBlogPost no_bg simple'>
      <a href="single.html"><img width="800" height="533" alt="" src="/img/@stock/blog-2.jpg" /></a>
      <div class='content'>
        <p class='date'>December 15, 2014</p>
        <h4><a href="#">A cup of coffee for you</a></h4>
        <p>
        Iste neque doloribus dolor quis ad sit dolores dolor sit perferendis. nemo in rerum ducimus possimus aspernatur quas est. dolorem eaque vel id quasi voluptatem eligendi rerum et quo ut. fuga qui ea voluptates sunt
        </p>
      </div>
    </div>
  </div>
  <div class='large-4 medium-4 columns'>
    <div class='mod modBlogPost no_bg simple'>
      <a href="single.html"><img width="800" height="533" alt="" src="/img/@stock/blog-3.jpg" /></a>
      <div class='content'>
        <p class='date'>December 15, 2014</p>
        <h4><a href="#">A cup of coffee for you</a></h4>
        <p>
        Iste neque doloribus dolor quis ad sit dolores dolor sit perferendis. nemo in rerum ducimus possimus aspernatur quas est. dolorem eaque vel id quasi voluptatem eligendi rerum et quo ut. fuga qui ea voluptates sunt
        </p>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Like what you see here? Checkout this theme and start to build your site immediately.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='http://themeforest.net/user/honryou/portfolio?ref=honryou'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

