<div id="background">
  <div id="blog-link">
    <a href="http://blog.threefunkymonkeys.com" target="_blank">
      <div id="blog-link-text">BLOG!</div>
      <img src="/img/blog.png" />
    </a>
  </div>

  <h3 id="adorable" class="home-title"><%= I18n.t('.adorable') %></h3>

</div>

