<div class='full'>
  <div class='row'>
    <div class='medium-8 columns'>
      <h2>Oops! Page Not Found</h2>
    </div>
  </div>
</div>

<div class='four spacing'></div>
<div class='four spacing'></div>
