<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
<!--        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
          <li>
            <a data-cat='graphic-design' href='#'>Graphic Design</a>
          </li>
          <li>
            <a data-cat='web-design' href='#'>Web Design</a>
          </li>
          <li>
            <a data-cat='brand' href='#'>Brand</a>
          </li>
          <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>
        </ul>
-->
      </div>
      <ul class='gallery large-block-grid-3 medium-block-grid-3 seperated small-block-grid-2'>
        <li class='graphic-design'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="/img/crocodile_logo.png" />
            <div class='overlay' style='background: rgba(238, 102, 0, 0.8);'>
              <div class='thumb-info'>
                <h3>Crocodile</h3>
                <p>Background Jobs in Ruby</p>
              </div>
            </div>
          </a>
        </li>
        <li class='web-design print'>
          <a href='/projects/bluetail'>
            <img width="600" height="500" alt="" src="/img/bluetail_logo.png" />
            <div class='overlay' style='background: rgba(4, 176, 255, 0.8);'>
              <div class='thumb-info'>
                <h3>Bluetail</h3>
                <p>Tweet Simply From Your App</p>
              </div>
            </div>
          </a>
        </li>
        <li class='brand'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="/img/cuba_flash_logo.png" />
            <div class='overlay' style='background: rgba(91, 91, 91, 0.8);'>
              <div class='thumb-info'>
                <h3>Cuba-Flash</h3>
                <p>Flash Messages for Cuba apps</p>
              </div>
            </div>
          </a>
        </li>
        <li class='development'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="/img/chist_logo.png" />
            <div class='overlay' style='background: rgba(91, 91, 91, 0.8);'>
              <div class='thumb-info'>
                <h3>IChist</h3>
                <p>Share your chats with style</p>
              </div>
            </div>
          </a>
        </li>
        <li class='print brand'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="/img/fwc_logo.png" />
            <div class='overlay' style='background: rgba(85, 85, 85, 0.8);'>
              <div class='thumb-info'>
                <h3>Funky World Cup</h3>
                <p>Predictions game for FIFA 2014 WC</p>
              </div>
            </div>
          </a>
        </li>
        <!--
        <li class='web-design'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-7.jpg" />
            <div class='overlay' style='background: rgba(115, 221, 217, 0.8);'>
              <div class='thumb-info'>
                <h3>A beautiful day</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        <li class='graphic-design'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-8.jpg" />
            <div class='overlay' style='background: rgba(221, 172, 115, 0.8);'>
              <div class='thumb-info'>
                <h3>Flower Book</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        <li class='graphic-design'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-2.jpg" />
            <div class='overlay' style='background: rgba(143, 221, 115, 0.8);'>
              <div class='thumb-info'>
                <h3>Beautiful Girl</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        <li class='web-design print'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-4.jpg" />
            <div class='overlay' style='background: rgba(115, 185, 221, 0.8);'>
              <div class='thumb-info'>
                <h3>Look at me</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        <li class='brand'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-1.jpg" />
            <div class='overlay' style='background: rgba(233, 151, 266, 0.8);'>
              <div class='thumb-info'>
                <h3>Am I cute</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        <li class='development'>
          <a href='portfolio-item.html'>
            <img width="600" height="500" alt="" src="../images/@stock/one-page-work-6.jpg" />
            <div class='overlay' style='background: rgba(207, 197, 81, 0.8);'>
              <div class='thumb-info'>
                <h3>Umbrella</h3>
                <p>Design &amp; Development</p>
              </div>
            </div>
          </a>
        </li>
        -->
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='#'>See more works</a>
      </p>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
