%p
  #{threefunkymonkeys} surge de la necesidad que teníamos dos
  programadores y un diseñador de desarrollar herramientas avanzadas y
  utilizando las últimas tecnologías disponibles para el caso.

%p
  Como buenos <em>geeks</em> sentimos la necesidad de ampliar nuestros
  conocimientos y compartirlo con el resto del mundo, buscando siempre
  la manera más ágil y cómoda para trabajar.

%p
  Renegamos del mundo empresarial tradicional, aquel cuyos cánones
  están basados en ideas de la Revolución Industrial. Vivimos una
  nueva era cuya revolución llega incluso más lejos, donde el modelo
  que separa al cliente y al proveedor como dos entidades diferentes
  ya no funciona. Amamos nuestra profesión y queremos trabajar en
  proyectos que nos despierten la misma pasión, involucrando todo el
  tiempo a nuestros clientes, haciéndolo partícipe durante el proceso
  de desarrollo, respetando su opinión y educándolo en la mejor manera
  de sacar provecho a las tecnologías actuales y futuras.

%p
  Vemos el avance y alcance arrollador de las tecnologías de
  información en plataformas móviles como un desafio y un nicho para
  aprovechar, sin descuidar las plataformas de escritorio que ocupan
  también gran parte de nuestro día a día. Queremos llegar más lejos
  de lo que nos atrevemos a imaginar, y llevar a nuestros clientes con
  ellos.

%div#footer.cleanLinks
  = render :partial => 'site/web_links'
