$flash_notice_color: #16930B
$flash_notice_bg_color: #B4F9A6
$flash_warning_color: #D1AB12
$flash_warning_bg_color: #F9F6B5
$flash_error_color: #F90000
$flash_error_bg_color: #F9C6C6

$top_bar_bg_color: black
$top_bar_border_color: red
